body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.throw-button{
    height: 120px;
    width: 215px;

    background-color: #0b89dd;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.throw-button:hover{
    background-color: #003a70;
    cursor: pointer;
}